<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>yass.cake - Créer une recette</title>
    <link rel="stylesheet" href="{% static 'cakes/css/stylecss.css' %}">
</head>
<body>
<main>
    <div class="conteneur_formulaire">
        <h2>Créer ta recette de gâteau</h2>
        <form action="{% url 'creation_recette' %}" method="POST">
            {% csrf_token %}
            
            <label for="nom">Nom du gâteau</label>
            <input type="text" id="nom" name="nom" required placeholder="Gâteau citron"/>

            <label for="ingredients">Ingrédients</label>
            <input type="text" id="ingredients" name="ingredients" required placeholder="Jus de citron, farine..."/>

            <label for="instructions">Instructions</label>
            <textarea id="instructions" name="instructions" required placeholder="Étapes de la recette..."></textarea>

            <button type="submit" class="btn_c">Ajouter à la carte</button>
        </form>
    </div>
</main>

<a href="{% url 'accueil' %}" class="btn">Retour à la carte</a>
</body>
</html>
