{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="conteneur_formulaire">
    <h2>Modifie la recette de gâteau</h2>
    <form method="POST" action="{% url 'modifier_recette' recette.id %}">
        {% csrf_token %}
        <label for="nom">Nom du gâteau</label>
        <input type="text" id="nom" name="nom" required placeholder="Gâteau citron" value="{{ recette.nom }}"/>

        <label for="ingredients">Ingrédients</label>
        <input type="text" id="ingredients" name="ingredients" required placeholder="Jus de citron, farine..." value="{{ recette.ingredients }}"/>

        <label for="instructions">Instructions</label>
        <textarea id="instructions" name="instructions" required placeholder="Étapes de la recette...">{{ recette.instructions }}</textarea>

        <button type="submit" class="btn">Modifier</button>
    </form>
    <form method="POST" action="{% url 'supprimer_recette' recette.id %}" style="margin-top:10px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimerr</button>
    </form>
 <a href="{% url 'accueil' %}" class="btn">Retour au menu</a>
</div>
{% endblock %}
