body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 10px;
    color:#222;
}

header h1 {
    margin: 0;
}

nav a {
    margin-right: 8px;
}

/* TABLEAU */
table {
    width:100%;
    border-collapse: collapse;
    margin-top:12px;
}

table th, table td {
    border:1px solid #ddd;
    padding:8px;
    vertical-align:top;
}

table th {
    background:#f9f9f9;
    text-align:left;
}

/* LABELS */
form label {
    display:block;
    margin:8px 0;
}

/* BOUTONS */
button {
    padding:6px 10px;
    border-radius: 10px;
    color: #CA3C66;
    border: 2px solid #CA3C66;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #CA3C66;
    color: white;
}

/* MESSAGE */
.msg {
    background:#e7f7e7;
    border:1px solid #bfe6bf;
    padding:8px;
}

/* ----------- LAYOUT PRINCIPAL ----------- */

main {
    background:#F9D9D7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* ----------- CARDS GATEAUX ----------- */

.card {
    background:pink;
    display:flex;
    flex-direction: column;     /* corrige l’erreur dans ton CSS */
    align-items: center;        /* centrage du contenu */
    padding: 15px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

/* ----------- FORMULAIRE CREATION ----------- */

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="tel"],
input[type="ingredient"],
input[type="instruction"] {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #ffcdd2;
    border-radius: 10px;
    font-size: 16px;
    background: #fff;
    transition: 0.2s;
}

input:focus {
    outline: none;
    border-color: #e57373;
    box-shadow: 0 0 5px rgba(255, 105, 135, 0.3);
}

/* BOUTON SPECIAL (LIEN) */
.btn_c {
    display: block;
    width: 100%;
    text-align: center;
    background: #e57373;
    color: white;
    padding: 12px 0;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}
.btn_c:hover {
    background: #d32f2f;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    background: #CA3C66;
    color: white;
    padding: 12px 0;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.btn:hover {
    background:#E8AABE ;

}